.axure {
  text-align: center;
  padding: 58px 0 38px;
  background: black url(../img/axure-background.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.axure .shared-container {
  z-index: 1;
  position: relative;
}
.axure::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.axure .shared-part__title {
  color: #ffffff;
}
.axure .shared-part__title::after {
  background-color: #fff;
  margin: 34px auto 34px;
}
.axure .shared-part__description p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.axure .shared-download-button {
  margin: 57px auto 0;
}

@keyframes pulsating-button {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
