.contact {
  padding: 80px 0 44px;
  text-align: center;
}
.contact__wrap {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 95px -15px 0;
  align-items: stretch;
}
.contact .shared-part__title::after {
  background-color: #e72424;
  margin: 34px auto 34px;
}
.contact .shared-part__description p {
  font-size: 0.87rem;
  color: #86878b;
}
.contact .shared-fields {
  width: 478px;
  text-align: left;
  margin: 0 15px;
}
.contact .shared-fields__item {
  margin-top: 31px;
}
.contact__text {
  text-align: left;
  width: 480px;
  margin: 0 15px;
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__message {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  font-size: 1rem;
  flex-grow: 1;
}
.contact .shared-fields__field {
  height: 32px;
}
.contact .shared-form-button {
  padding: 11px 31px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .contact__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .contact__wrap {
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px -15px 0;
  }
  .contact .shared-part__title::after {
    margin: 34px auto 17px;
  }
  .contact__message {
    height: 150px;
  }
}
