.customers {
  text-align: center;
  padding: 80px 0 119px;
}
.customers__wrap {
  margin: 67px -15px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.customers__item {
  flex-basis: 298px;
  margin: 0 15px;
}
.customers__item-comment {
  font-family: "Open Sans", sans-serif;
  line-height: 19px;
  font-size: 14px;
  color: #86878b;
}
.customers__item-comment p {
  padding: 9px 22px 6px;
  background-color: #e2e2e2;
  border-radius: 7px;
}
.customers__item-comment::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #e2e2e2;
  margin-left: 40px;
}
.customers__item-wrap {
  margin: 7px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.customers__item-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: flex;
}
.customers__item-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.customers__item-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #333333;
  line-height: 27px;
  font-size: 20px;
}
.customers__item-position {
  font-family: "Open Sans", sans-serif;
  color: #86878b;
  line-height: 19px;
  font-size: 14px;
  margin-top: 12px;
}
.customers .shared-part__title::after {
  background-color: #e72424;
  margin: 34px auto 34px;
}
.customers .shared-part__description p {
  font-size: 14px;
  color: #86878b;
}
