.footer {
  background: black;
  padding: 30px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 317px;
  margin: 0 -15px;
}
.footer .shared-links {
  width: 100%;
}
.footer .shared-links a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.375rem;
  margin: 0 5px;
}
.footer .shared-links a:hover {
  color: #ec7979;
}
.footer__copyrights {
  margin: 18px 0 0 0;
  color: rgba(255, 255, 255, 0.5);
}
.footer__copyrights p {
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 768px) {
  .footer__wrap {
    width: 100%;
  }
  .footer .shared-container {
    display: flex;
    justify-content: center;
  }
}
