.shared-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}
.shared-part__title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}
.shared-part__title::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
}
.shared-part__description p {
  line-height: 19px;
  font-family: "Open Sans", sans-serif;
}
.shared-links {
  margin: 0 15px;
}
.shared-links__wrap {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.shared-links__link a {
  transition: color 0.5s ease;
}
.shared-download-button {
  width: 135px;
  text-align: center;
}
.shared-download-button a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  padding: 11px 0;
  border: 1px solid #fff;
  animation: 1s pulsating-button ease-in-out infinite alternate;
  display: block;
}
.shared-logotype {
  color: white;
  text-transform: uppercase;
  display: flex;
}
.shared-logotype::after {
  content: "it";
  display: block;
  color: #ec7979;
}

.shared-fields__label {
  display: block;
  font-size: 14px;
  color: #bdbdbd;
  line-height: 19px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.shared-fields__field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  font-size: 16px;
}
.shared-coral-button {
  color: #fff;
  background-color: #ec7979;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: background 0.2s ease;
  border: none;
}
.shared-coral-button:hover {
  background-color: #e69494;
}
